openapi: 3.0.3
info:
  title: SmartRecruiters Candidate Applications Documents API
  description: The SmartRecruiters Candidate API enables customers to import, export, read, and update candidate data. Provides full candidate profile management including personal information, application history, notes, and attachments.
  version: 1.0.0
  contact:
    name: SmartRecruiters Developer Support
    url: https://developers.smartrecruiters.com/
servers:
- url: https://api.smartrecruiters.com
  description: SmartRecruiters Production API
security:
- ApiKey: []
tags:
- name: Documents
paths:
  /candidates/{candidateId}/documents:
    get:
      operationId: listCandidateDocuments
      summary: List Candidate Documents
      description: Returns all documents (resumes, CVs, cover letters) attached to a candidate profile.
      tags:
      - Documents
      parameters:
      - name: candidateId
        in: path
        required: true
        description: The unique candidate identifier
        schema:
          type: string
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Candidate not found
components:
  schemas:
    Document:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - RESUME
          - COVER_LETTER
          - ATTACHMENT
        contentType:
          type: string
        size:
          type: integer
        addedOn:
          type: string
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-SmartToken
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://www.smartrecruiters.com/identity/oauth/token
          scopes:
            candidates.read: Read candidate data
            candidates.write: Write candidate data
