openapi: 3.2.0
info:
  title: SmartRecruiters Posting Applications API
  description: The SmartRecruiters Posting API enables customers to build fully customizable career sites by providing access to published job postings. Supports searching and filtering postings by keyword, location, department, language, and custom fields.
  version: 1.0.0
  contact:
    name: SmartRecruiters Developer Support
    url: https://developers.smartrecruiters.com/
  termsOfService: https://www.smartrecruiters.com/legal/
servers:
- url: https://api.smartrecruiters.com
  description: SmartRecruiters Production API
security:
- ApiKey: []
tags:
- name: Applications
paths:
  /v1/companies/{companyIdentifier}/postings/{postingId}/candidates:
    post:
      operationId: submitApplication
      summary: Submit Job Application
      description: Creates a new candidate application for a specific job posting. Supports submission of candidate profile, screening question answers, and resume/CV attachments.
      tags:
      - Applications
      parameters:
      - name: companyIdentifier
        in: path
        required: true
        description: The company identifier
        schema:
          type: string
      - name: postingId
        in: path
        required: true
        description: The unique posting ID or UUID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationSubmission'
      responses:
        '201':
          description: Application submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Posting not found
        '429':
          description: Too many requests
  /v1/companies/{companyIdentifier}/postings/{postingId}/candidates/{candidateId}/status:
    get:
      operationId: getApplicationStatus
      summary: Get Application Status
      description: Retrieves the current application status of a specific candidate for a specific job posting.
      tags:
      - Applications
      parameters:
      - name: companyIdentifier
        in: path
        required: true
        description: The company identifier
        schema:
          type: string
      - name: postingId
        in: path
        required: true
        description: The unique posting ID or UUID
        schema:
          type: string
      - name: candidateId
        in: path
        required: true
        description: The candidate ID
        schema:
          type: string
      responses:
        '200':
          description: Application status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Application not found
components:
  schemas:
    Location:
      type: object
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
        countryCode:
          type: string
        region:
          type: string
        city:
          type: string
        address:
          type: string
        postalCode:
          type: string
        remote:
          type: boolean
          description: Whether the position is remote
    ApplicationResult:
      type: object
      properties:
        id:
          type: string
          description: Application ID
        candidateId:
          type: string
          description: Candidate ID
        postingId:
          type: string
          description: Posting ID
        status:
          type: string
          description: Initial application status
    ApplicationSubmission:
      type: object
      required:
      - firstName
      - lastName
      - email
      properties:
        firstName:
          type: string
          description: Candidate first name
        lastName:
          type: string
          description: Candidate last name
        email:
          type: string
          format: email
          description: Candidate email address
        phone:
          type: string
          description: Candidate phone number
        location:
          $ref: '#/components/schemas/Location'
        web:
          type: object
          properties:
            linkedIn:
              type: string
              format: uri
            facebook:
              type: string
              format: uri
            portfolio:
              type: string
              format: uri
        tags:
          type: array
          items:
            type: string
        answers:
          type: array
          description: Answers to screening questions
          items:
            $ref: '#/components/schemas/Answer'
    ApplicationStatus:
      type: object
      properties:
        candidateId:
          type: string
        postingId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - REJECTED
          - OFFERED
          - HIRED
        reasonForRejection:
          type: object
          properties:
            id:
              type: string
            label:
              type: string
    Answer:
      type: object
      properties:
        id:
          type: string
          description: Question ID
        answer:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: boolean
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-SmartToken
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.smartrecruiters.com/identity/oauth/allow
          tokenUrl: https://www.smartrecruiters.com/identity/oauth/token
          scopes:
            candidates.read: Read candidate data
            candidates.write: Write candidate data
            jobs.read: Read job data
            jobs.write: Write job data
